@model List<L2.Models.AnimeCharacter>

<h1>Аниме-персонажи</h1>

<div style="display: flex; gap: 1rem; flex-wrap: wrap;">
    @foreach (var c in Model)
    {
        <div style="border: 1px solid #ccc; padding: 0.8rem; width: 200px;">
            <img src="@c.ImageUrl" alt="@c.Name" style="width: 100%; height: auto;">
            <h3>@c.Name</h3>
            <p>@c.Anime, возраст @c.Age</p>
            <a href="/Home/Details/@c.Id">Подробнее</a>
        </div>
    }
</div>