@model List<L2.Models.AnimeCharacter>

<div class="d-flex justify-content-between">
    @foreach (var c in Model)
    {
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@c.ImageUrl" alt="@c.Name">
                <div class="card-body">
                    <h5 class="card-title">@c.Name</h5>
                    <p class="card-text">Аниме: @c.Anime, возраст @c.Age</p>
                    <p class="card-text">@c.Description</p>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@c.Id">Детали</a>
                </div>
            </div>
        </div>
    }
</div>